<div class="container mx-auto mt-8">
	<mat-card>
		<mat-card-header>
			<mat-card-title>{{ title }}</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<p>This is an Angular Material card</p>
		</mat-card-content>
		<mat-card-footer>
			<mat-card-actions align="end">
				<button mat-raised-button color="primary">
					THIS BUTTON DOES NOTHING
				</button>
			</mat-card-actions>
		</mat-card-footer>
	</mat-card>
</div>
